[Unit]
Description=Timer for auto-commit bootcamp changes
Requires=auto-commit.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
